<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    rewritecond %{REQUEST_URI} !\.(js|ico|gif|jpg|css|swf|html)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>